<!-- Details for <%= @asset.object %> -->
<div data-role="fieldcontain" style="padding: 2em 1em 2em 1em; background-color: #0F0F0F;">
  <div class="itemLabel">Inspection History</div>
  <div class="itemValue" style="padding-top: 0.5em; white-space:pre-wrap; font-size:smaller;">
<%= @asset.Notes%>
  </div>
</div>
